body {
  margin: 0;
  padding: 0;
  
}

h1{
  font-family: 'Poiret One', cursive;
  font-weight: 400;
  color: #BDBDBD;
  margin: 5em 0 -5em;
}

input{
  font-family: 'Poiret One', cursive;
  font-weight: 500;
  font-size: 2em;
  width: 30em;
  height: 3em;
  padding: 0 2em;
  border: none;
  background-color: #E6E6E6;
  border-radius: 1em;
}

#greeting{
  text-align: center;
}

#user_input{
  text-align: center;
  margin-top: 5em;
}

.ai_face{
  height: 15em;
  width: 15em;
  margin: 15em auto 5em;
  border: 2em solid #2E2E2E;
  border-radius: 50%;
  background: radial-gradient(circle, #2E9AFE, #045FB4);
}

